body {background-color:blue; }
p{background-color:green;
color:yellow;
font-size:20;  
font-weight:bold; }
label{color:white; 
font-size:18px; 
font-weight:bold; }
inpunt{border:2px solid white; }
#numberInput{background-color:white;
color:blue;
font-size:20;  
font-weight:bold; }
#resultatRacine{background-color:orange;
color:black;
font-size:20;  
font-weight:bold; }
#resultatArrondi{background-color:yellow;
color:purple;
font-size:20;  
font-weight:bold; }
#nombreAleatoire{background-color:red;
color:white;
font-size:20;  
font-weight:bold; }
#nombreAleatoire2{background-color:purple;
color:yellow;
font-size:20;  
font-weight:bold; }
